/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@font-face {
  font-family: 'NotoSansJP-Regular';
  src: url('fonts/NotoSansJP-Regular-Subsetted.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PoiretOne-Regular';
  src: url('fonts/PoiretOne-Regular.eot');
  src: url('fonts/PoiretOne-Regular.woff') format('woff'), url('fonts/PoiretOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KouzanMouhituFont';
  src: url('fonts/KouzanMouhituFont.eot');
  src: url('fonts/KouzanMouhituFont.woff') format('woff'), url('fonts/KouzanMouhituFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  font-family: 'NotoSansJP-Regular', Sans-Serif;
}
nav {
  display: block;
  margin: 5px;
  float: left;
}
nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  transition: background-color 0.5s, box-shadow 0.5s;
}
nav a:hover {
  background-color: #ccc;
  box-shadow: 0 5px 12px -5px #999999 inset;
  color: #000;
}
nav a:active {
  background-color: #aaa;
  box-shadow: 0 5px 12px -5px #999999 inset;
  color: #000;
}
header {
  clear: left;
  font-family: 'PoiretOne-Regular', Sans-Serif;
  display: block;
  width: 400px;
  margin: 50px auto;
}
@media only screen and (max-width: 599px) {
  header {
    width: 320px;
  }
}
header h1 {
  font-size: 24px;
  font-weight: normal;
}
header h1 span {
  font-size: 72px;
}
header p {
  text-align: right;
  font-size: 24px;
  font-weight: normal;
}
section {
  width: 600px;
  position: relative;
  display: block;
  margin: 200px auto;
}
@media only screen and (max-width: 599px) {
  section {
    width: 300px;
    margin: 80px auto;
  }
}
section div:first-child {
  position: relative;
  width: 480px;
  height: 270px;
  background-color: #000;
  text-align: center;
  border: 5px solid lightgray;
}
@media only screen and (max-width: 599px) {
  section div:first-child {
    width: 240px;
    height: 135px;
  }
}
section div:first-child img {
  height: 270px;
}
@media only screen and (max-width: 599px) {
  section div:first-child img {
    height: 135px;
  }
}
section div:first-child:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  bottom: -5px;
  left: 15px;
  right: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  border-radius: 2.5px;
}
section div:last-child {
  position: absolute;
  width: 360px;
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 12px #fff;
}
@media only screen and (max-width: 599px) {
  section div:last-child {
    width: 180px;
  }
}
section div:last-child h2 {
  font-family: 'PoiretOne-Regular', Sans-Serif;
  font-size: 48px;
  font-weight: normal;
}
@media only screen and (max-width: 599px) {
  section div:last-child h2 {
    font-size: 28px;
  }
}
section div:last-child h2 a {
  text-decoration: none;
  color: #000;
}
section div:last-child h2:lang(ja) {
  font-family: 'KouzanMouhituFont', Serif;
}
section div:last-child p {
  font-size: 14px;
}
section:nth-child(even) div:first-child {
  margin-left: 110px;
}
@media only screen and (max-width: 599px) {
  section:nth-child(even) div:first-child {
    margin-left: 50px;
  }
}
section:nth-child(even) div:last-child {
  left: 0;
  top: 50px;
}
@media only screen and (max-width: 599px) {
  section:nth-child(even) div:last-child {
    top: 25px;
  }
}
section:nth-child(odd) div:last-child {
  right: 0;
  top: 50px;
  text-align: right;
}
@media only screen and (max-width: 599px) {
  section:nth-child(odd) div:last-child {
    top: 25px;
  }
}
aside {
  width: 100%;
  position: relative;
  display: block;
  margin: 200px auto;
  text-align: center;
}
@media only screen and (max-width: 599px) {
  aside {
    margin: 80px auto;
  }
}
aside a {
  text-decoration: none;
  font-size: 32px;
  color: gray;
}
aside a:link {
  color: gray;
}
aside a:visited {
  color: gray;
}
aside a:active {
  color: gray;
}
aside a:hover {
  color: gray;
}
footer {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
}
